/* Targeting the navbar MFE by its ID using an attribute selector */
div[id="single-spa-application:@guille/navbar"] {
    width: 0;
    height: 0;
}
/* Targeting the home MFE by its ID using an attribute selector */
div[id="single-spa-application:@guille/home-mfe"] {
    background: #272325;
    height: 100vh;
    color: #fff6e6;
    margin-top: -8px;
}

/* Adjust the main content to not be affected by the navbar */
main {
    margin-left: 32px;
    display: block;
}

/* Ensure the nav container does not push content down */
/* nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px; */ /* Same width as the sidebar */
/* } */

/* Prevent other elements from being pushed down by the navbar */
/* body > *:not(nav) { */
    /*margin-left: 250px;*/ /* Adjust based on the width of your sidebar */
/*}*/